---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "Times New Roman", Times, serif;
    src: url("/res/BYEKAN.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
